*{
  padding: 0;
  margin: 0;
}

.zone-card {
  position: relative;
  height: 300px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.zone-link {
  display: block;
  height: 100%;
  width: 100%;
}

.zone-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.zone-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.zone-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

.zone-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}

.zone-logo-container {
  text-align: center;
  max-width: 100%;
}

.zone-logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease;
}

.zone-sponsor {
  max-width: 25%;
  height: auto;
  margin-top: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.new-badge {
  position: absolute;
  border: 3px #21c45d solid;
  right: 0.5rem;
  background-color: #22c55e; 
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;

}

.zone-card:hover .zone-background {
  transform: scale(1.05);
}

.zone-card:hover .zone-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.zone-card:hover .zone-logo {
  transform: scale(1.05);
}

/* ZoneGrid */
.zone-grid-container {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
}

.zone-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
}

@media (min-width: 640px) {
  .zone-grid {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}

@media (min-width: 1024px) {
  .zone-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}